.board__sidebar,
.create__sidebar {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 260px;
  position: absolute;
  top: 100%;
  left:0;
  z-index: 100;
  max-height: 100vh;
  background: $white;
  box-shadow: 1px 2px 1px 0 rgba(0,0,0,0.2),-1px -2px 1px 0 rgba(0,0,0,0.2);
}

.create__sidebar{
  top:135%;
  left:-100px;
}